startup --host_jvm_args=-XX:-UseParallelGC

# import $HOME/bazelrc

build --show_timestamps --keep_going --jobs 600
build --color=yes
query --keep_going

# Definition of --config=memcheck
build:memcheck --strip=never --test_timeout=3600

# Specify a disk cache to the user's home directory. This could be remote as well.
build --disk_cache=$HOME/tmp

# Enable go race detection.
build:unit --features=race

# Testing options
test:unit --features=race
test:unit --test_tag_filters=-e2e,-integration
test:unit --flaky_test_attempts=3
test --test_output=errors

test:integration --local_test_jobs 4
test:integration --test_tag_filters=integration
